<!--
Bond Calculators Page:

Powered by OOBA

Providing interactive calculators or tools to help users estimate mortgage
payments, loan amounts, interest rates, and other financial metrics related to
home loans and bonds.
-->

{% extends 'base.html' %}

{% block title %}
Propertiez.co.za
{% endblock %}

{% block og-type %}{% endblock %}
{% block og-title %}{% endblock %}
{% block og-image %}{% endblock %}
{% block og-description %}{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
