<!--
FAQ Page:

Addressing frequently asked questions about the website, its services, and the
real estate industry in general.

This page could help users find answers to common inquiries quickly and easily.
-->

{% extends 'base.html' %}

{% block title %}
FAQ
{% endblock %}

{% block og-title %}FAQ{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}


<ul role="list" class="grid">
  <li class="card">
    <h3>Lorem, ipsum.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </li>
  <li class="card">
    <h3>Minus, pariatur?</h3>
    <p>Veritatis optio illum possimus eveniet exercitationem perferendis ad?</p>
  </li>
  <li class="card">
    <h3>Iste, assumenda!</h3>
    <p>Esse minima in maiores similique unde eaque nostrum!</p>
  </li>
  <li class="card">
    <h3>Voluptatem, veritatis!</h3>
    <p>Provident deserunt veniam, debitis alias atque deleniti laboriosam!</p>
  </li>
  <li class="card">
    <h3>Accusamus, magnam.</h3>
    <p>Ipsum accusantium laboriosam, architecto cum dolor odit animi?</p>
  </li>
  <li class="card">
    <h3>Recusandae, placeat.</h3>
    <p>Incidunt, aliquid odit! Eaque nihil mollitia repellat beatae.</p>
  </li>
</ul>


{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}