<!--
Home Loans Page:

Powered by OOBA

Offering information and resources related to home loans, mortgage options, and
financing solutions.

This page could include articles, guides, and tools to help users understand
their home loan options.
-->

{% extends 'base.html' %}

{% block title %}
Home Loans
{% endblock %}

{% block og-title %}Home Loans{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}