<!--
Meet the Team Page:

Introducing the team members behind the website, including their roles,
responsibilities, and background.

This page could include photos and brief bios for each team member.
-->

{% extends 'base.html' %}

{% block title %}
Meet The Team
{% endblock %}

{% block og-title %}Meet The Team{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
<h1 class="mtt-title">Meet the Team!</h1>
<div class="team-member">
    <img src="/static/media/Josias.jpeg" alt="Josias Chauke image">
    <div class="bio-content">
        <h2>Josias Chauke, Founder</h2>
        <p class="bio">
            Introducing Josias Chauke, the visionary Founder of Propertiez.co.za.<br>
            With a background in business management and real estate, he brings a wealth of industry knowledge and expertise to the table.
            Passionate about innovation and the intersection of technology with the South African landscape, Josias is committed to revolutionizing the property listing industry.
            He thrives on meeting new people and helping them navigate the complexities of real estate.
            With a keen eye for opportunities and a heart for community, Josias is leading Propertiez.co.za with a vision to empower individuals in their property journeys.
        </p>
    </div>
</div>

<div class="team-member">
    <img src="/static/media/Mike.jpg" alt="Mike Milligan image">
    <div class="bio-content">
        <h2>Mike Milligan, Web Developer</h2>
        <p class="bio">
            Meet Mike Milligan, a recent graduate from WeThinkCode_ with a Higher Certificate in Systems Development.<br>
            They bring fresh perspectives and innovative ideas to the table as a Junior Web Developer at Propertiez.co.za.
            Passionate about creating seamless user experiences, Mike is dedicated to contributing their skills to the development of the next big thing in property listing websites.
            With a knack for problem-solving and a drive for continuous learning, Mike is poised to make a significant impact in the world of web development.
        </p>
    </div>
</div>

<div class="team-member">
    <img src="/static/media/Abby.jpeg" alt="Abby Ellis image">
    <div class="bio-content">
        <h2>Abby Ellis, Sales and Marketing</h2>
        <p class="bio">
            Meet Abby Ellis, the vibrant Sales Manager at Propertiez.co.za.<br>
            With a background in sales and marketing, coupled with her previous experience in real estate, Abby brings a unique blend of industry insight and creativity to her role.
            Currently pursuing a diploma in graphic design, she infuses her work with a splash of artistic flair and a keen eye for design.
            Quirky and fun-loving, Abby is passionate about injecting joy and creativity into everything she does.
            Whether she's closing deals or crafting visually stunning marketing campaigns, Abby's energy and enthusiasm are contagious.
            With a love for the arts and a knack for building meaningful connections, she's shaping the future of property sales with style and charisma.
        </p>
    </div>
</div>

<div class="team-member">
    <img src="/static/media/Thilda.png" alt="Thilda Jack-Yoppe image">
    <div class="bio-content">
        <h2>Thilda Jack-Yoppe, Sales & Marketing Executive</h2>
        <p class="bio">
            Meet Thilda Jack-Yoppe, our experienced Sales & Marketing Executive at Propertiez.co.za.<br>
            With 16 years in real estate, Thilda has expertise in timeshare, fractional ownership, sales, and administration.
            Her education from the University of Cape Town and Cape Peninsula University of Technology has provided her with strong critical thinking, communication, and design skills.
            Thilda's background in fashion and culinary arts adds a unique touch to client events and hospitality.
            Having worked with Keller Williams, Touch Down Afrika, and Rowson Auction, she brings a wealth of knowledge and a diverse skill set to our team.
            Committed to continuous learning and adaptability, Thilda is passionate about aligning with organizations that share her career goals and is excited to bring her experience and enthusiasm to our team.
        </p>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

<!-- Meet Mike Milligan, a recent graduate from WeThinkCode_ with a Higher Certificate in Systems Development. They bring fresh perspectives and innovative ideas to the table as a Junior Web Developer at Properties.co.za. Passionate about creating seamless user experiences, Mike is dedicated to contributing their skills to the development of the next big thing in property listing websites. With a knack for problem-solving and a drive for continuous learning, Mike is poised to make a significant impact in the world of web development. -->
<!-- Introducing Josias Chauke, the visionary Founder of Properties.co.za. With a background in business management and real estate, he brings a wealth of industry knowledge and expertise to the table. Passionate about innovation and the intersection of technology with the South African landscape, Josias is committed to revolutionizing the property listing industry. He thrives on meeting new people and helping them navigate the complexities of real estate. With a keen eye for opportunities and a heart for community, Josias is leading Properties.co.za with a vision to empower individuals in their property journeys. -->
<!-- Meet Abby Ellis, the vibrant Sales Representative at Properties.co.za. With a background in sales and marketing, coupled with her previous experience in real estate, Abby brings a unique blend of industry insight and creativity to her role. Currently pursuing a diploma in graphic design, she infuses her work with a splash of artistic flair and a keen eye for design. Quirky and fun-loving, Abby is passionate about injecting joy and creativity into everything she does. Whether she's closing deals or crafting visually stunning marketing campaigns, Abby's energy and enthusiasm are contagious. With a love for the arts and a knack for building meaningful connections, she's shaping the future of property sales with style and charisma -->