<!--
Terms of Service Page:

Outlining the terms and conditions that govern the use of the website,
including legal disclaimers, privacy policies, and user agreements.

This page is important for establishing transparency and setting expectations
for users.
-->

{% extends 'base.html' %}

{% block title %}
Terms of Service
{% endblock %}

{% block og-title %}Terms of Service{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}