{% extends 'base.html' %}

{% block title %}
Terms and Conditions - Propertiez.co.za
{% endblock %}

{% block og-title %}Terms and Conditions{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

<h1>Terms of Use - Propertiez.co.za</h1>

<section>
    <h2>Rules of Use</h2>
    <p>When using Propertiez.co.za, you agree not to:</p>
    <ul>
        <li>Violate any laws or regulations;</li>
        <li>Infringe on the rights of others, such as copyright or privacy;</li>
        <li>Post defamatory, obscene, or hateful content;</li>
        <li>Use automated tools to monitor or copy our site;</li>
        <li>Interfere with the website's operations;</li>
        <li>Copy or modify any content without permission;</li>
        <li>Attempt unauthorized access to parts of the website.</li>
    </ul>
</section>

<section>
    <h2>Ownership of Content</h2>
    <p>All content on Propertiez.co.za, including software, text, graphics, and logos, belongs to us or our licensors. You do not gain any rights to this content.</p>
</section>

<section>
    <h2>Privacy and Cookie Policies</h2>
    <p>For information on how we handle your data and cookies, please read our <a href="https://propertiez.co.za/privacy-policy/">Privacy Policy</a> and <a href="https://propertiez.co.za/cookie-policy/">Cookie Policy</a>.</p>
</section>

<section>
    <h2>Security Measures</h2>
    <p>We take security seriously. You must not:</p>
    <ul>
        <li>Attempt to access data not meant for you;</li>
        <li>Try to test the website's security;</li>
        <li>Send spam or interfere with our services;</li>
        <li>Intentionally upload harmful code;</li>
        <li>Modify or delete others' posts;</li>
        <li>Disrupt the website's operation.</li>
    </ul>
</section>

<section>
    <h2>Disclaimer of Liability</h2>
    <p>Propertiez.co.za hosts property ads and other content from third parties. We do not participate in property transactions and are not liable for any decisions made based on our content. While we strive for accuracy, we do not guarantee error-free operation or virus-free downloads.</p>
    <p>We are not responsible for external websites linked from Propertiez.co.za.</p>
</section>

<section>
    <h2>Legal Terms</h2>
    <p>These Terms of Use constitute the full agreement between us and you. If any part of these terms is found invalid, it will not affect the rest of the terms. South African law governs your use of Propertiez.co.za.</p>
</section>

<section>
    <h2>Disputes Resolution</h2>
    <p>Any disputes related to your use of Propertiez.co.za will be settled through arbitration under South African law.</p>
</section>

<section>
    <h2>Contact Us</h2>
    <p>If you have any questions about these Terms of Use, please <a href="https://propertiez.co.za/contact-us">contact us</a>.</p>
</section>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
