<!--
Services Page:

Highlighting the various services offered by the website, such as property
listing management, user registration, search functionality, and additional
features like home loans and bond calculators.
-->

{% extends 'base.html' %}

{% block title %}
Our Services
{% endblock %}

{% block og-title %}Our Services{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}