<!--
Listing Category Pages:

Pages displaying listings categorized by:
    property type (e.g., houses, apartments, condos, land),
    status (for sale, for rent),
    location (cities, provinces),
    or other criteria.

Each category page would list relevant listings with brief summaries and links
to the detailed listing pages.
-->

{% extends 'base.html' %}

{% block title %}
Title
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}