<!-- 
Agent Dashboard:
If agents have access to a dashboard to manage their profile information,
listings, leads, and other aspects of their role, you'll need HTML templates
for various dashboard views such as profile settings, listing management,
lead management, and analytics.
-->

{% extends 'base.html' %}

{% block title %}
Title
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}